html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border-width: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
  font-family: monospace, Helvetica, Arial, sans-serif;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
@import 'css-assets/font/stylesheet.css';
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
html {
  width: 100%;
  height: 100%;
}
body,
html {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}
body {
  background-color: #000;
  font-family: 'infinity', monospace;
  letter-spacing: 1px;
}
::selection{
		background-color: #f59995;
	  color: white;
	  text-shadow: none;
	}

	::-moz-selection{
		background-color: #f59995;
	  color: white;
	  text-shadow: none;
	}
.c-grey1-g {
  color: #232323;
}
.c-grey2-g {
  color: #3d3d3d;
}
.c-grey2-hover-g {
  color: #4a4a4a;
}
.c-grey3-g {
  color: #575757;
}
.bold-g,
.b-g {
  font-weight: bold;
}
.op-0-g {
  opacity: 0;
}
.op-5-g {
  opacity: 0.5;
}
a,
.link-e {
  text-decoration: none;
  position: relative;
  color: inherit;
}
.float-left-g,
.f-l-g {
  float: left;
}
.float-right-g,
.f-r-g {
  float: right;
}
.h-g {
  display: none;
}
.h-g-i {
  display: none !important;
}
.cf:after,
.cf:before {
  content: '';
  display: table;
}
.cf:after {
  clear: both;
}
.cf {
  zoom: 1;
}
.width-x1-gm,
.w-x1-gm {
  width: 10px;
}
.width-x2-gm,
.w-x2-gm {
  width: 20px;
}
.width-x3-gm,
.w-x3-gm {
  width: 30px;
}
.width-x4-gm,
.w-x4-gm {
  width: 40px;
}
.width-x5-gm,
.w-x5-gm {
  width: 50px;
}
.width-x6-gm,
.w-x6-gm {
  width: 60px;
}
.width-x7-gm,
.w-x7-gm {
  width: 70px;
}
.width-x8-gm,
.w-x8-gm {
  width: 80px;
}
.width-x9-gm,
.w-x9-gm {
  width: 90px;
}
.width-x10-gm,
.w-x10-gm {
  width: 100px;
}
.width-x11-gm,
.w-x11-gm {
  width: 110px;
}
.width-x12-gm,
.w-x12-gm {
  width: 120px;
}
.width-x13-gm,
.w-x13-gm {
  width: 130px;
}
.width-x14-gm,
.w-x14-gm {
  width: 140px;
}
.width-x15-gm,
.w-x15-gm {
  width: 150px;
}
.width-x16-gm,
.w-x16-gm {
  width: 160px;
}
.width-x17-gm,
.w-x17-gm {
  width: 170px;
}
.width-x18-gm,
.w-x18-gm {
  width: 180px;
}
.width-x19-gm,
.w-x19-gm {
  width: 190px;
}
.width-x20-gm,
.w-x20-gm {
  width: 200px;
}
.width-x21-gm,
.w-x21-gm {
  width: 210px;
}
.width-x22-gm,
.w-x22-gm {
  width: 220px;
}
.width-x23-gm,
.w-x23-gm {
  width: 230px;
}
.width-x24-gm,
.w-x24-gm {
  width: 240px;
}
.width-x25-gm,
.w-x25-gm {
  width: 250px;
}
.width-x26-gm,
.w-x26-gm {
  width: 260px;
}
.width-x27-gm,
.w-x27-gm {
  width: 270px;
}
.width-x28-gm,
.w-x28-gm {
  width: 280px;
}
.width-x29-gm,
.w-x29-gm {
  width: 290px;
}
.width-x30-gm,
.w-x30-gm {
  width: 300px;
}
.width-x31-gm,
.w-x31-gm {
  width: 310px;
}
.width-x32-gm,
.w-x32-gm {
  width: 320px;
}
.width-x33-gm,
.w-x33-gm {
  width: 330px;
}
.width-x34-gm,
.w-x34-gm {
  width: 340px;
}
.width-x35-gm,
.w-x35-gm {
  width: 350px;
}
.width-x36-gm,
.w-x36-gm {
  width: 360px;
}
.width-x37-gm,
.w-x37-gm {
  width: 370px;
}
.width-x38-gm,
.w-x38-gm {
  width: 380px;
}
.width-x39-gm,
.w-x39-gm {
  width: 390px;
}
.width-x40-gm,
.w-x40-gm {
  width: 400px;
}
.width-x41-gm,
.w-x41-gm {
  width: 410px;
}
.width-x42-gm,
.w-x42-gm {
  width: 420px;
}
.width-x43-gm,
.w-x43-gm {
  width: 430px;
}
.width-x44-gm,
.w-x44-gm {
  width: 440px;
}
.width-x45-gm,
.w-x45-gm {
  width: 450px;
}
.width-x46-gm,
.w-x46-gm {
  width: 460px;
}
.width-x47-gm,
.w-x47-gm {
  width: 470px;
}
.width-x48-gm,
.w-x48-gm {
  width: 480px;
}
.width-x49-gm,
.w-x49-gm {
  width: 490px;
}
.width-x50-gm,
.w-x50-gm {
  width: 500px;
}
.width-x51-gm,
.w-x51-gm {
  width: 510px;
}
.width-x52-gm,
.w-x52-gm {
  width: 520px;
}
.width-x53-gm,
.w-x53-gm {
  width: 530px;
}
.width-x54-gm,
.w-x54-gm {
  width: 540px;
}
.width-x55-gm,
.w-x55-gm {
  width: 550px;
}
.width-x56-gm,
.w-x56-gm {
  width: 560px;
}
.width-x57-gm,
.w-x57-gm {
  width: 570px;
}
.width-x58-gm,
.w-x58-gm {
  width: 580px;
}
.width-x59-gm,
.w-x59-gm {
  width: 590px;
}
.width-x60-gm,
.w-x60-gm {
  width: 600px;
}
.width-x61-gm,
.w-x61-gm {
  width: 610px;
}
.width-x62-gm,
.w-x62-gm {
  width: 620px;
}
.width-x63-gm,
.w-x63-gm {
  width: 630px;
}
.width-x64-gm,
.w-x64-gm {
  width: 640px;
}
.width-x65-gm,
.w-x65-gm {
  width: 650px;
}
.width-x66-gm,
.w-x66-gm {
  width: 660px;
}
.width-x67-gm,
.w-x67-gm {
  width: 670px;
}
.width-x68-gm,
.w-x68-gm {
  width: 680px;
}
.width-x69-gm,
.w-x69-gm {
  width: 690px;
}
.width-x70-gm,
.w-x70-gm {
  width: 700px;
}
.width-x71-gm,
.w-x71-gm {
  width: 710px;
}
.width-x72-gm,
.w-x72-gm {
  width: 720px;
}
.width-x73-gm,
.w-x73-gm {
  width: 730px;
}
.width-x74-gm,
.w-x74-gm {
  width: 740px;
}
.width-x75-gm,
.w-x75-gm {
  width: 750px;
}
.width-x76-gm,
.w-x76-gm {
  width: 760px;
}
.width-x77-gm,
.w-x77-gm {
  width: 770px;
}
.width-x78-gm,
.w-x78-gm {
  width: 780px;
}
.width-x79-gm,
.w-x79-gm {
  width: 790px;
}
.width-x80-gm,
.w-x80-gm {
  width: 800px;
}
.width-x81-gm,
.w-x81-gm {
  width: 810px;
}
.width-x82-gm,
.w-x82-gm {
  width: 820px;
}
.width-x83-gm,
.w-x83-gm {
  width: 830px;
}
.width-x84-gm,
.w-x84-gm {
  width: 840px;
}
.width-x85-gm,
.w-x85-gm {
  width: 850px;
}
.width-x86-gm,
.w-x86-gm {
  width: 860px;
}
.width-x87-gm,
.w-x87-gm {
  width: 870px;
}
.width-x88-gm,
.w-x88-gm {
  width: 880px;
}
.width-x89-gm,
.w-x89-gm {
  width: 890px;
}
.width-x90-gm,
.w-x90-gm {
  width: 900px;
}
.width-x91-gm,
.w-x91-gm {
  width: 910px;
}
.width-x92-gm,
.w-x92-gm {
  width: 920px;
}
.width-x93-gm,
.w-x93-gm {
  width: 930px;
}
.width-x94-gm,
.w-x94-gm {
  width: 940px;
}
.width-x95-gm,
.w-x95-gm {
  width: 950px;
}
.width-x96-gm,
.w-x96-gm {
  width: 960px;
}
.width-x97-gm,
.w-x97-gm {
  width: 970px;
}
.width-x98-gm,
.w-x98-gm {
  width: 980px;
}
.width-x99-gm,
.w-x99-gm {
  width: 990px;
}
.width-x100-gm,
.w-x100-gm {
  width: 1000px;
}
.height-x1-gm,
.h-x1-gm {
  height: 10px;
}
.height-x2-gm,
.h-x2-gm {
  height: 20px;
}
.height-x3-gm,
.h-x3-gm {
  height: 30px;
}
.height-x4-gm,
.h-x4-gm {
  height: 40px;
}
.height-x5-gm,
.h-x5-gm {
  height: 50px;
}
.height-x6-gm,
.h-x6-gm {
  height: 60px;
}
.height-x7-gm,
.h-x7-gm {
  height: 70px;
}
.height-x8-gm,
.h-x8-gm {
  height: 80px;
}
.height-x9-gm,
.h-x9-gm {
  height: 90px;
}
.height-x10-gm,
.h-x10-gm {
  height: 100px;
}
.height-x11-gm,
.h-x11-gm {
  height: 110px;
}
.height-x12-gm,
.h-x12-gm {
  height: 120px;
}
.height-x13-gm,
.h-x13-gm {
  height: 130px;
}
.height-x14-gm,
.h-x14-gm {
  height: 140px;
}
.height-x15-gm,
.h-x15-gm {
  height: 150px;
}
.height-x16-gm,
.h-x16-gm {
  height: 160px;
}
.height-x17-gm,
.h-x17-gm {
  height: 170px;
}
.height-x18-gm,
.h-x18-gm {
  height: 180px;
}
.height-x19-gm,
.h-x19-gm {
  height: 190px;
}
.height-x20-gm,
.h-x20-gm {
  height: 200px;
}
.height-x21-gm,
.h-x21-gm {
  height: 210px;
}
.height-x22-gm,
.h-x22-gm {
  height: 220px;
}
.height-x23-gm,
.h-x23-gm {
  height: 230px;
}
.height-x24-gm,
.h-x24-gm {
  height: 240px;
}
.height-x25-gm,
.h-x25-gm {
  height: 250px;
}
.height-x26-gm,
.h-x26-gm {
  height: 260px;
}
.height-x27-gm,
.h-x27-gm {
  height: 270px;
}
.height-x28-gm,
.h-x28-gm {
  height: 280px;
}
.height-x29-gm,
.h-x29-gm {
  height: 290px;
}
.height-x30-gm,
.h-x30-gm {
  height: 300px;
}
.height-x31-gm,
.h-x31-gm {
  height: 310px;
}
.height-x32-gm,
.h-x32-gm {
  height: 320px;
}
.height-x33-gm,
.h-x33-gm {
  height: 330px;
}
.height-x34-gm,
.h-x34-gm {
  height: 340px;
}
.height-x35-gm,
.h-x35-gm {
  height: 350px;
}
.height-x36-gm,
.h-x36-gm {
  height: 360px;
}
.height-x37-gm,
.h-x37-gm {
  height: 370px;
}
.height-x38-gm,
.h-x38-gm {
  height: 380px;
}
.height-x39-gm,
.h-x39-gm {
  height: 390px;
}
.height-x40-gm,
.h-x40-gm {
  height: 400px;
}
.height-x41-gm,
.h-x41-gm {
  height: 410px;
}
.height-x42-gm,
.h-x42-gm {
  height: 420px;
}
.height-x43-gm,
.h-x43-gm {
  height: 430px;
}
.height-x44-gm,
.h-x44-gm {
  height: 440px;
}
.height-x45-gm,
.h-x45-gm {
  height: 450px;
}
.height-x46-gm,
.h-x46-gm {
  height: 460px;
}
.height-x47-gm,
.h-x47-gm {
  height: 470px;
}
.height-x48-gm,
.h-x48-gm {
  height: 480px;
}
.height-x49-gm,
.h-x49-gm {
  height: 490px;
}
.height-x50-gm,
.h-x50-gm {
  height: 500px;
}
.height-x51-gm,
.h-x51-gm {
  height: 510px;
}
.height-x52-gm,
.h-x52-gm {
  height: 520px;
}
.height-x53-gm,
.h-x53-gm {
  height: 530px;
}
.height-x54-gm,
.h-x54-gm {
  height: 540px;
}
.height-x55-gm,
.h-x55-gm {
  height: 550px;
}
.height-x56-gm,
.h-x56-gm {
  height: 560px;
}
.height-x57-gm,
.h-x57-gm {
  height: 570px;
}
.height-x58-gm,
.h-x58-gm {
  height: 580px;
}
.height-x59-gm,
.h-x59-gm {
  height: 590px;
}
.height-x60-gm,
.h-x60-gm {
  height: 600px;
}
.height-x61-gm,
.h-x61-gm {
  height: 610px;
}
.height-x62-gm,
.h-x62-gm {
  height: 620px;
}
.height-x63-gm,
.h-x63-gm {
  height: 630px;
}
.height-x64-gm,
.h-x64-gm {
  height: 640px;
}
.height-x65-gm,
.h-x65-gm {
  height: 650px;
}
.height-x66-gm,
.h-x66-gm {
  height: 660px;
}
.height-x67-gm,
.h-x67-gm {
  height: 670px;
}
.height-x68-gm,
.h-x68-gm {
  height: 680px;
}
.height-x69-gm,
.h-x69-gm {
  height: 690px;
}
.height-x70-gm,
.h-x70-gm {
  height: 700px;
}
.height-x71-gm,
.h-x71-gm {
  height: 710px;
}
.height-x72-gm,
.h-x72-gm {
  height: 720px;
}
.height-x73-gm,
.h-x73-gm {
  height: 730px;
}
.height-x74-gm,
.h-x74-gm {
  height: 740px;
}
.height-x75-gm,
.h-x75-gm {
  height: 750px;
}
.height-x76-gm,
.h-x76-gm {
  height: 760px;
}
.height-x77-gm,
.h-x77-gm {
  height: 770px;
}
.height-x78-gm,
.h-x78-gm {
  height: 780px;
}
.height-x79-gm,
.h-x79-gm {
  height: 790px;
}
.height-x80-gm,
.h-x80-gm {
  height: 800px;
}
.height-x81-gm,
.h-x81-gm {
  height: 810px;
}
.height-x82-gm,
.h-x82-gm {
  height: 820px;
}
.height-x83-gm,
.h-x83-gm {
  height: 830px;
}
.height-x84-gm,
.h-x84-gm {
  height: 840px;
}
.height-x85-gm,
.h-x85-gm {
  height: 850px;
}
.height-x86-gm,
.h-x86-gm {
  height: 860px;
}
.height-x87-gm,
.h-x87-gm {
  height: 870px;
}
.height-x88-gm,
.h-x88-gm {
  height: 880px;
}
.height-x89-gm,
.h-x89-gm {
  height: 890px;
}
.height-x90-gm,
.h-x90-gm {
  height: 900px;
}
.height-x91-gm,
.h-x91-gm {
  height: 910px;
}
.height-x92-gm,
.h-x92-gm {
  height: 920px;
}
.height-x93-gm,
.h-x93-gm {
  height: 930px;
}
.height-x94-gm,
.h-x94-gm {
  height: 940px;
}
.height-x95-gm,
.h-x95-gm {
  height: 950px;
}
.height-x96-gm,
.h-x96-gm {
  height: 960px;
}
.height-x97-gm,
.h-x97-gm {
  height: 970px;
}
.height-x98-gm,
.h-x98-gm {
  height: 980px;
}
.height-x99-gm,
.h-x99-gm {
  height: 990px;
}
.height-x100-gm,
.h-x100-gm {
  height: 1000px;
}
.margin-left-x1-gm,
.m-l-x1-gm {
  margin-left: 10px;
}
.margin-right-x1-gm,
.m-r-x1-gm {
  margin-right: 10px;
}
.margin-top-x1-gm,
.m-t-x1-gm {
  margin-top: 10px;
}
.margin-bottom-x1-gm,
.m-b-x1-gm {
  margin-bottom: 10px;
}
.margin-x1-gm,
.m-x1-gm {
  margin: 10px;
}
.margin-left-x2-gm,
.m-l-x2-gm {
  margin-left: 20px;
}
.margin-right-x2-gm,
.m-r-x2-gm {
  margin-right: 20px;
}
.margin-top-x2-gm,
.m-t-x2-gm {
  margin-top: 20px;
}
.margin-bottom-x2-gm,
.m-b-x2-gm {
  margin-bottom: 20px;
}
.margin-x2-gm,
.m-x2-gm {
  margin: 20px;
}
.margin-left-x3-gm,
.m-l-x3-gm {
  margin-left: 30px;
}
.margin-right-x3-gm,
.m-r-x3-gm {
  margin-right: 30px;
}
.margin-top-x3-gm,
.m-t-x3-gm {
  margin-top: 30px;
}
.margin-bottom-x3-gm,
.m-b-x3-gm {
  margin-bottom: 30px;
}
.margin-x3-gm,
.m-x3-gm {
  margin: 30px;
}
.margin-left-x4-gm,
.m-l-x4-gm {
  margin-left: 40px;
}
.margin-right-x4-gm,
.m-r-x4-gm {
  margin-right: 40px;
}
.margin-top-x4-gm,
.m-t-x4-gm {
  margin-top: 40px;
}
.margin-bottom-x4-gm,
.m-b-x4-gm {
  margin-bottom: 40px;
}
.margin-x4-gm,
.m-x4-gm {
  margin: 40px;
}
.margin-left-x5-gm,
.m-l-x5-gm {
  margin-left: 50px;
}
.margin-right-x5-gm,
.m-r-x5-gm {
  margin-right: 50px;
}
.margin-top-x5-gm,
.m-t-x5-gm {
  margin-top: 50px;
}
.margin-bottom-x5-gm,
.m-b-x5-gm {
  margin-bottom: 50px;
}
.margin-x5-gm,
.m-x5-gm {
  margin: 50px;
}
.margin-left-x6-gm,
.m-l-x6-gm {
  margin-left: 60px;
}
.margin-right-x6-gm,
.m-r-x6-gm {
  margin-right: 60px;
}
.margin-top-x6-gm,
.m-t-x6-gm {
  margin-top: 60px;
}
.margin-bottom-x6-gm,
.m-b-x6-gm {
  margin-bottom: 60px;
}
.margin-x6-gm,
.m-x6-gm {
  margin: 60px;
}
.margin-left-x7-gm,
.m-l-x7-gm {
  margin-left: 70px;
}
.margin-right-x7-gm,
.m-r-x7-gm {
  margin-right: 70px;
}
.margin-top-x7-gm,
.m-t-x7-gm {
  margin-top: 70px;
}
.margin-bottom-x7-gm,
.m-b-x7-gm {
  margin-bottom: 70px;
}
.margin-x7-gm,
.m-x7-gm {
  margin: 70px;
}
.margin-left-x8-gm,
.m-l-x8-gm {
  margin-left: 80px;
}
.margin-right-x8-gm,
.m-r-x8-gm {
  margin-right: 80px;
}
.margin-top-x8-gm,
.m-t-x8-gm {
  margin-top: 80px;
}
.margin-bottom-x8-gm,
.m-b-x8-gm {
  margin-bottom: 80px;
}
.margin-x8-gm,
.m-x8-gm {
  margin: 80px;
}
.margin-left-x9-gm,
.m-l-x9-gm {
  margin-left: 90px;
}
.margin-right-x9-gm,
.m-r-x9-gm {
  margin-right: 90px;
}
.margin-top-x9-gm,
.m-t-x9-gm {
  margin-top: 90px;
}
.margin-bottom-x9-gm,
.m-b-x9-gm {
  margin-bottom: 90px;
}
.margin-x9-gm,
.m-x9-gm {
  margin: 90px;
}
.margin-left-x10-gm,
.m-l-x10-gm {
  margin-left: 100px;
}
.margin-right-x10-gm,
.m-r-x10-gm {
  margin-right: 100px;
}
.margin-top-x10-gm,
.m-t-x10-gm {
  margin-top: 100px;
}
.margin-bottom-x10-gm,
.m-b-x10-gm {
  margin-bottom: 100px;
}
.margin-x10-gm,
.m-x10-gm {
  margin: 100px;
}
.margin-left-x11-gm,
.m-l-x11-gm {
  margin-left: 110px;
}
.margin-right-x11-gm,
.m-r-x11-gm {
  margin-right: 110px;
}
.margin-top-x11-gm,
.m-t-x11-gm {
  margin-top: 110px;
}
.margin-bottom-x11-gm,
.m-b-x11-gm {
  margin-bottom: 110px;
}
.margin-x11-gm,
.m-x11-gm {
  margin: 110px;
}
.margin-left-x12-gm,
.m-l-x12-gm {
  margin-left: 120px;
}
.margin-right-x12-gm,
.m-r-x12-gm {
  margin-right: 120px;
}
.margin-top-x12-gm,
.m-t-x12-gm {
  margin-top: 120px;
}
.margin-bottom-x12-gm,
.m-b-x12-gm {
  margin-bottom: 120px;
}
.margin-x12-gm,
.m-x12-gm {
  margin: 120px;
}
.margin-left-x13-gm,
.m-l-x13-gm {
  margin-left: 130px;
}
.margin-right-x13-gm,
.m-r-x13-gm {
  margin-right: 130px;
}
.margin-top-x13-gm,
.m-t-x13-gm {
  margin-top: 130px;
}
.margin-bottom-x13-gm,
.m-b-x13-gm {
  margin-bottom: 130px;
}
.margin-x13-gm,
.m-x13-gm {
  margin: 130px;
}
.margin-left-x14-gm,
.m-l-x14-gm {
  margin-left: 140px;
}
.margin-right-x14-gm,
.m-r-x14-gm {
  margin-right: 140px;
}
.margin-top-x14-gm,
.m-t-x14-gm {
  margin-top: 140px;
}
.margin-bottom-x14-gm,
.m-b-x14-gm {
  margin-bottom: 140px;
}
.margin-x14-gm,
.m-x14-gm {
  margin: 140px;
}
.margin-left-x15-gm,
.m-l-x15-gm {
  margin-left: 150px;
}
.margin-right-x15-gm,
.m-r-x15-gm {
  margin-right: 150px;
}
.margin-top-x15-gm,
.m-t-x15-gm {
  margin-top: 150px;
}
.margin-bottom-x15-gm,
.m-b-x15-gm {
  margin-bottom: 150px;
}
.margin-x15-gm,
.m-x15-gm {
  margin: 150px;
}
.margin-left-x16-gm,
.m-l-x16-gm {
  margin-left: 160px;
}
.margin-right-x16-gm,
.m-r-x16-gm {
  margin-right: 160px;
}
.margin-top-x16-gm,
.m-t-x16-gm {
  margin-top: 160px;
}
.margin-bottom-x16-gm,
.m-b-x16-gm {
  margin-bottom: 160px;
}
.margin-x16-gm,
.m-x16-gm {
  margin: 160px;
}
.margin-left-x17-gm,
.m-l-x17-gm {
  margin-left: 170px;
}
.margin-right-x17-gm,
.m-r-x17-gm {
  margin-right: 170px;
}
.margin-top-x17-gm,
.m-t-x17-gm {
  margin-top: 170px;
}
.margin-bottom-x17-gm,
.m-b-x17-gm {
  margin-bottom: 170px;
}
.margin-x17-gm,
.m-x17-gm {
  margin: 170px;
}
.margin-left-x18-gm,
.m-l-x18-gm {
  margin-left: 180px;
}
.margin-right-x18-gm,
.m-r-x18-gm {
  margin-right: 180px;
}
.margin-top-x18-gm,
.m-t-x18-gm {
  margin-top: 180px;
}
.margin-bottom-x18-gm,
.m-b-x18-gm {
  margin-bottom: 180px;
}
.margin-x18-gm,
.m-x18-gm {
  margin: 180px;
}
.margin-left-x19-gm,
.m-l-x19-gm {
  margin-left: 190px;
}
.margin-right-x19-gm,
.m-r-x19-gm {
  margin-right: 190px;
}
.margin-top-x19-gm,
.m-t-x19-gm {
  margin-top: 190px;
}
.margin-bottom-x19-gm,
.m-b-x19-gm {
  margin-bottom: 190px;
}
.margin-x19-gm,
.m-x19-gm {
  margin: 190px;
}
.margin-left-x20-gm,
.m-l-x20-gm {
  margin-left: 200px;
}
.margin-right-x20-gm,
.m-r-x20-gm {
  margin-right: 200px;
}
.margin-top-x20-gm,
.m-t-x20-gm {
  margin-top: 200px;
}
.margin-bottom-x20-gm,
.m-b-x20-gm {
  margin-bottom: 200px;
}
.margin-x20-gm,
.m-x20-gm {
  margin: 200px;
}
.padding-left-x1-gm,
.p-l-x1-gm {
  padding-left: 10px;
}
.padding-right-x1-gm,
.p-r-x1-gm {
  padding-right: 10px;
}
.padding-top-x1-gm,
.p-t-x1-gm {
  padding-top: 10px;
}
.padding-bottom-x1-gm,
.p-b-x1-gm {
  padding-bottom: 10px;
}
.padding-x1-gm,
.p-x1-gm {
  padding: 10px;
}
.padding-left-x2-gm,
.p-l-x2-gm {
  padding-left: 20px;
}
.padding-right-x2-gm,
.p-r-x2-gm {
  padding-right: 20px;
}
.padding-top-x2-gm,
.p-t-x2-gm {
  padding-top: 20px;
}
.padding-bottom-x2-gm,
.p-b-x2-gm {
  padding-bottom: 20px;
}
.padding-x2-gm,
.p-x2-gm {
  padding: 20px;
}
.padding-left-x3-gm,
.p-l-x3-gm {
  padding-left: 30px;
}
.padding-right-x3-gm,
.p-r-x3-gm {
  padding-right: 30px;
}
.padding-top-x3-gm,
.p-t-x3-gm {
  padding-top: 30px;
}
.padding-bottom-x3-gm,
.p-b-x3-gm {
  padding-bottom: 30px;
}
.padding-x3-gm,
.p-x3-gm {
  padding: 30px;
}
.padding-left-x4-gm,
.p-l-x4-gm {
  padding-left: 40px;
}
.padding-right-x4-gm,
.p-r-x4-gm {
  padding-right: 40px;
}
.padding-top-x4-gm,
.p-t-x4-gm {
  padding-top: 40px;
}
.padding-bottom-x4-gm,
.p-b-x4-gm {
  padding-bottom: 40px;
}
.padding-x4-gm,
.p-x4-gm {
  padding: 40px;
}
.padding-left-x5-gm,
.p-l-x5-gm {
  padding-left: 50px;
}
.padding-right-x5-gm,
.p-r-x5-gm {
  padding-right: 50px;
}
.padding-top-x5-gm,
.p-t-x5-gm {
  padding-top: 50px;
}
.padding-bottom-x5-gm,
.p-b-x5-gm {
  padding-bottom: 50px;
}
.padding-x5-gm,
.p-x5-gm {
  padding: 50px;
}
.padding-left-x6-gm,
.p-l-x6-gm {
  padding-left: 60px;
}
.padding-right-x6-gm,
.p-r-x6-gm {
  padding-right: 60px;
}
.padding-top-x6-gm,
.p-t-x6-gm {
  padding-top: 60px;
}
.padding-bottom-x6-gm,
.p-b-x6-gm {
  padding-bottom: 60px;
}
.padding-x6-gm,
.p-x6-gm {
  padding: 60px;
}
.padding-left-x7-gm,
.p-l-x7-gm {
  padding-left: 70px;
}
.padding-right-x7-gm,
.p-r-x7-gm {
  padding-right: 70px;
}
.padding-top-x7-gm,
.p-t-x7-gm {
  padding-top: 70px;
}
.padding-bottom-x7-gm,
.p-b-x7-gm {
  padding-bottom: 70px;
}
.padding-x7-gm,
.p-x7-gm {
  padding: 70px;
}
.padding-left-x8-gm,
.p-l-x8-gm {
  padding-left: 80px;
}
.padding-right-x8-gm,
.p-r-x8-gm {
  padding-right: 80px;
}
.padding-top-x8-gm,
.p-t-x8-gm {
  padding-top: 80px;
}
.padding-bottom-x8-gm,
.p-b-x8-gm {
  padding-bottom: 80px;
}
.padding-x8-gm,
.p-x8-gm {
  padding: 80px;
}
.padding-left-x9-gm,
.p-l-x9-gm {
  padding-left: 90px;
}
.padding-right-x9-gm,
.p-r-x9-gm {
  padding-right: 90px;
}
.padding-top-x9-gm,
.p-t-x9-gm {
  padding-top: 90px;
}
.padding-bottom-x9-gm,
.p-b-x9-gm {
  padding-bottom: 90px;
}
.padding-x9-gm,
.p-x9-gm {
  padding: 90px;
}
.padding-left-x10-gm,
.p-l-x10-gm {
  padding-left: 100px;
}
.padding-right-x10-gm,
.p-r-x10-gm {
  padding-right: 100px;
}
.padding-top-x10-gm,
.p-t-x10-gm {
  padding-top: 100px;
}
.padding-bottom-x10-gm,
.p-b-x10-gm {
  padding-bottom: 100px;
}
.padding-x10-gm,
.p-x10-gm {
  padding: 100px;
}
.padding-left-x11-gm,
.p-l-x11-gm {
  padding-left: 110px;
}
.padding-right-x11-gm,
.p-r-x11-gm {
  padding-right: 110px;
}
.padding-top-x11-gm,
.p-t-x11-gm {
  padding-top: 110px;
}
.padding-bottom-x11-gm,
.p-b-x11-gm {
  padding-bottom: 110px;
}
.padding-x11-gm,
.p-x11-gm {
  padding: 110px;
}
.padding-left-x12-gm,
.p-l-x12-gm {
  padding-left: 120px;
}
.padding-right-x12-gm,
.p-r-x12-gm {
  padding-right: 120px;
}
.padding-top-x12-gm,
.p-t-x12-gm {
  padding-top: 120px;
}
.padding-bottom-x12-gm,
.p-b-x12-gm {
  padding-bottom: 120px;
}
.padding-x12-gm,
.p-x12-gm {
  padding: 120px;
}
.padding-left-x13-gm,
.p-l-x13-gm {
  padding-left: 130px;
}
.padding-right-x13-gm,
.p-r-x13-gm {
  padding-right: 130px;
}
.padding-top-x13-gm,
.p-t-x13-gm {
  padding-top: 130px;
}
.padding-bottom-x13-gm,
.p-b-x13-gm {
  padding-bottom: 130px;
}
.padding-x13-gm,
.p-x13-gm {
  padding: 130px;
}
.padding-left-x14-gm,
.p-l-x14-gm {
  padding-left: 140px;
}
.padding-right-x14-gm,
.p-r-x14-gm {
  padding-right: 140px;
}
.padding-top-x14-gm,
.p-t-x14-gm {
  padding-top: 140px;
}
.padding-bottom-x14-gm,
.p-b-x14-gm {
  padding-bottom: 140px;
}
.padding-x14-gm,
.p-x14-gm {
  padding: 140px;
}
.padding-left-x15-gm,
.p-l-x15-gm {
  padding-left: 150px;
}
.padding-right-x15-gm,
.p-r-x15-gm {
  padding-right: 150px;
}
.padding-top-x15-gm,
.p-t-x15-gm {
  padding-top: 150px;
}
.padding-bottom-x15-gm,
.p-b-x15-gm {
  padding-bottom: 150px;
}
.padding-x15-gm,
.p-x15-gm {
  padding: 150px;
}
.padding-left-x16-gm,
.p-l-x16-gm {
  padding-left: 160px;
}
.padding-right-x16-gm,
.p-r-x16-gm {
  padding-right: 160px;
}
.padding-top-x16-gm,
.p-t-x16-gm {
  padding-top: 160px;
}
.padding-bottom-x16-gm,
.p-b-x16-gm {
  padding-bottom: 160px;
}
.padding-x16-gm,
.p-x16-gm {
  padding: 160px;
}
.padding-left-x17-gm,
.p-l-x17-gm {
  padding-left: 170px;
}
.padding-right-x17-gm,
.p-r-x17-gm {
  padding-right: 170px;
}
.padding-top-x17-gm,
.p-t-x17-gm {
  padding-top: 170px;
}
.padding-bottom-x17-gm,
.p-b-x17-gm {
  padding-bottom: 170px;
}
.padding-x17-gm,
.p-x17-gm {
  padding: 170px;
}
.padding-left-x18-gm,
.p-l-x18-gm {
  padding-left: 180px;
}
.padding-right-x18-gm,
.p-r-x18-gm {
  padding-right: 180px;
}
.padding-top-x18-gm,
.p-t-x18-gm {
  padding-top: 180px;
}
.padding-bottom-x18-gm,
.p-b-x18-gm {
  padding-bottom: 180px;
}
.padding-x18-gm,
.p-x18-gm {
  padding: 180px;
}
.padding-left-x19-gm,
.p-l-x19-gm {
  padding-left: 190px;
}
.padding-right-x19-gm,
.p-r-x19-gm {
  padding-right: 190px;
}
.padding-top-x19-gm,
.p-t-x19-gm {
  padding-top: 190px;
}
.padding-bottom-x19-gm,
.p-b-x19-gm {
  padding-bottom: 190px;
}
.padding-x19-gm,
.p-x19-gm {
  padding: 190px;
}
.padding-left-x20-gm,
.p-l-x20-gm {
  padding-left: 200px;
}
.padding-right-x20-gm,
.p-r-x20-gm {
  padding-right: 200px;
}
.padding-top-x20-gm,
.p-t-x20-gm {
  padding-top: 200px;
}
.padding-bottom-x20-gm,
.p-b-x20-gm {
  padding-bottom: 200px;
}
.padding-x20-gm,
.p-x20-gm {
  padding: 200px;
}
.c-bg-bg-g {
  background-color: c-bg;
}
.c-red-bg-g {
  background-color: c-red;
}
.c-orange1-bg-g {
  background-color: c-orange1;
}
.c-orange2-bg-g {
  background-color: c-orange2;
}
.c-grey1-bg-g {
  background-color: #232323;
}
.c-grey2-bg-g {
  background-color: #3d3d3d;
}
.c-grey3-bg-g {
  background-color: #575757;
}
.c-grey4-bg-g {
  background-color: #717171;
}
.c-grey5-bg-g {
  background-color: #8b8b8b;
}
.c-grey6-bg-g {
  background-color: #a4a4a4;
}
.c-grey7-bg-g {
  background-color: #bebebe;
}
.c-grey8-bg-g {
  background-color: #d8d8d8;
}
.c-grey9-bg-g {
  background-color: #f2f2f2;
}
.c-grey10-bg-g {
  background-color: #fff;
}
.button-e {
  width: 40px;
  height: 40px;
  background-color: #fe0000;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 10;
  margin-left: -20px;
  margin-top: -20px;
}
.button-e:hover ~ .block-b > .rect-be,
.button-e:hover ~ .block-b > .gradient-be {
  top: 0;
  -webkit-transition: top 1s ease-out;
  -moz-transition: top 1s ease-out;
  -ms-transition: top 1s ease-out;
  -o-transition: top 1s ease-out;
  transition: top 1s ease-out;
}
.block-b {
  overflow: hidden;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -100px;
  z-index: 0;
  margin-top: 0;
  width: 200px;
  height: 200px;
}
.block-b.is-2 {
  z-index: 1;
  margin-top: -100px;
}
.block-b > .rect-be {
  border-width: 20px;
  border-style: solid;
  border-color: #fe0000;
  width: 200px;
  height: 200px;
  position: absolute;
  z-index: 0;
  left: 0;
  top: -100%;
}
.block-b > .gradient-be {
  width: 200px;
  height: 200px;
  position: absolute;
  z-index: 1;
  background: -moz-linear-gradient(top, #000 4%, #000 5%, rgba(0,0,0,0) 100%);
/* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(4%, #000), color-stop(5%, #000), color-stop(100%, rgba(0,0,0,0)));
/* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #000 4%, #000 5%, rgba(0,0,0,0) 100%);
/* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #000 4%, #000 5%, rgba(0,0,0,0) 100%);
/* Opera 11.10+ */
  background: -ms-linear-gradient(top, #000 4%, #000 5%, rgba(0,0,0,0) 100%);
/* IE10+ */
  background: linear-gradient(to bottom, #000 4%, #000 5%, rgba(0,0,0,0) 100%);
/* W3C */
}
.header-l {
  background: c-red;
  height: 100px;
  padding: 15px 20px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}
.header-l .main-logo-b {
  color: c-bg;
  margin-top: -5px;
}
.header-l .round-icon-b {
  float: right;
}
.header-l .round-icon-b + .round-icon-b {
  margin-right: 20px;
}
.side-icons-l {
  display: inline-block;
}
.side-icons-l .timer-b {
  margin-bottom: 40px;
}
.side-icons-l .icon {
  margin: 0 auto;
}
.side-icons-l .icon + .icon {
  margin-top: 20px;
}
.recipes-l .recipe-b + .recipe-b:after {
  content: '';
  width: 100%;
  height: 20px;
  top: -10px;
  position: absolute;
  background-image: -webkit-repeating-radial-gradient(center center, c-red, c-red 1px, transparent 1px, transparent 100%);
  background-image: -moz-repeating-radial-gradient(center center, c-red, c-red 1px, transparent 1px, transparent 100%);
  background-image: -ms-repeating-radial-gradient(center center, c-red, c-red 1px, transparent 1px, transparent 100%);
  background-image: repeating-radial-gradient(center center, c-red, c-red 1px, transparent 1px, transparent 100%);
  -webkit-background-size: 10px 10px;
  -moz-background-size: 10px 10px;
  background-size: 10px 10px;
}
.icon {
  width: 40px;
  height: 40px;
  fill: c-red;
  display: block;
  position: relative;
}
.icon:after {
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
.icon svg {
  float: left;
  width: 100%;
  height: 100%;
}
.icon.is-hoverable:hover {
  fill: c-red-hover;
  cursor: pointer;
}
