body {
  margin-bottom: 200px;
  background: c-bg;
}
.hash-e {
  font-size: 16px;
  color: #717171;
  margin-bottom: 10px;
  margin-top: 20px;
  max-width: 100%;
  padding: 10px 0;
  white-space: nowrap;
  -webkit-text-overflow: ellipsis;
  -moz-text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  overflow: hidden;
  width: 80px;
}
.icon-sample-kl {
  float: left;
  margin: 20px;
}
.main-kl {
  max-width: 1000px;
  margin: 0 auto;
  padding: 40px 0;
}
.section-kl + .section-kl {
  margin-top: 80px;
}
.header-ke {
  font-size: 26px;
  padding: 20px 0;
  color: #232323;
}
.color-sample-ke {
  width: 40px;
  height: 40px;
  margin: 10px;
  float: left;
}
