!!!5
html
	head
		meta(charset='UTF-8')
		title typogravity
		link(rel="stylesheet", type="text/css", href="css/main.css")
	
	body
		section(role="main")#main

			.button-e

			.block-b
				.rect-be
				.gradient-be

			.block-b.is-2
				.rect-be
				.gradient-be











